body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 246, 236);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(176, 11, 14); 
    color: white;
  }
  
  .logo img {
    height: 40px;
  }

  .welcome {
    font-size: 28px;
    font-weight: bold;
    color: rgb(255, 246, 236)
  }
  
  .user-info {
    font-size: 14px;
  }
  
  .main-content {
    padding: 20px;
  }

  .product-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  .product {
    display: flex;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
  }
  
  .product img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .product-info {
    padding: 10px;
    flex: 1;
  }
  
  .product-title {
    font-weight: bold;
    margin: 0 0 10px 0;
  }
  
  .product-description {
    max-height: 3.6em; /* ca. 2 Zeilen */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }