

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 246, 236);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(176, 11, 14); 
    color: white;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: fixed;
    padding: 10px 20px;
    background-color: rgb(176, 11, 14); 
    color: white;
    width: 100%;
    bottom: 0;
  }

  .logo img {
    height: 40px;
    transition: transform 0.3s ease;
  }
  
  .logo img:hover {
    animation: bounce 0.6s;
  }
  
  /* Keyframes für Hüpfen */
  @keyframes bounce {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-15px); }
    50%  { transform: translateY(0); }
    70%  { transform: translateY(-8px); }
    100% { transform: translateY(0); }
  }


  

  .search {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .search-input {
    padding: 6px 12px;
    border-radius: 20px;
    border: none;
    width: 250px;
    max-width: 100%;
    font-size: 16px;
  }
  
  .user-con {
    display: flex;
    align-items: center;
    gap: 10px; /* Abstand zwischen Text und Button */
  }
  .user-info {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .logout-button {
    background-color: white;
    color: rgb(176, 11, 14);
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .main-content {
    padding: 20px;
  }


